<% provide :title, 'Home' %>
<div class="mb-3 col-md-3 btn btn-primary">
  <%= link_to(new_invoice_path, class: 'btn', style: 'color: white') do %>
  Create Invoice
  <%= fa_icon 'solid plus', style: 'color: white' %>
  <% end %>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Invoice #</th>
      <th scope="col">To</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    <% current_user.invoices.each do |invoice| %>
      <tr>
        <th scope="row"><%= invoice.invoice_number %></th>
        <td><%= invoice.to_full_name %></td>
        <td><%= invoice.created_at.strftime("%m/%d/%Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>