<h2>New Invoice</h2>

<%= form_for @invoice do |f| %>
  <div class="row g-3 justify-content-center">

  <div class="col-md-12 row justify-content-around">
    <div class="mb-3 col-md-3 order-1 btn btn-primary col-12">
      <%= link_to(new_invoice_template_path, class: "btn col-12", style: 'color: white') do %>
        Create Template
        <%= fa_icon 'solid plus', style: 'color: white' %>
      <% end %>
    </div>
    <div class="mb-3 col-md-3 order-2 btn btn-primary col-12">
      <%= link_to(invoice_templates_path, class: "btn col-12", style: 'color: white') do %>
        Change Template
        <%= fa_icon 'solid retweet', style: 'color: white' %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field mb-3">
      <%= f.label :from_full_name, class: 'form-label' %>
      <%= f.text_field :from_full_name, 
                        autofocus: true, 
                        value: "#{current_user.first_name} #{current_user.last_name}", 
                        class: 'form-control' %>
    </div>

    <div class="field mb-3">
      <%= f.label :from_email, class: 'form-label' %>
      <%= f.email_field :from_email, value: current_user.email, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :from_phone, class: 'form-label' %>
      <%= f.text_field :from_phone, value: current_user.phone_number, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :from_address, class: 'form-label' %>
      <%= f.text_field :from_address, value: current_user.address, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :from_city, class: 'form-label' %>
      <%= f.text_field :from_city, value: current_user.city, class: 'form-control'  %>
    </div>
    
    <div class="field mb-3">
      <%= f.label :from_province, class: 'form-label' %>
      <%= f.text_field :from_province, value: current_user.province, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :from_country, class: 'form-label' %>
      <%= f.text_field :from_country, value: current_user.country, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :from_postal_code, class: 'form-label' %>
      <%= f.text_field :from_postal_code, value: current_user.postal_code, class: 'form-control'  %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="field mb-3">
      <%= f.label :to_full_name, class: 'form-label' %>
      <%= f.text_field :to_full_name, value: to_field(:to_full_name), class: 'form-control' %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_email, class: 'form-label' %>
      <%= f.text_field :to_email, value: to_field(:to_email), class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_phone, class: 'form-label' %>
      <%= f.text_field :to_phone, value: to_field(:to_phone), class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_address, class: 'form-label' %>
      <%= f.text_field :to_address, value: to_field(:to_address), class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_city, class: 'form-label' %>
      <%= f.text_field :to_city, value: to_field(:to_city), class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_country, class: 'form-label' %>
      <%= f.text_field :to_country, value: to_field(:to_country), class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_province, class: 'form-label' %>
      <%= f.text_field :to_province, value: to_field(:to_province), class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_postal_code, class: 'form-label' %>
      <%= f.text_field :to_postal_code, value: to_field(:to_postal_code), class: 'form-control'  %>
    </div>
  </div>
  <div>
    <div class="field mb-3 col-12">
      <%= f.label :notes, class: 'form-label' %>
      <%= f.text_area :notes, value: to_field(:notes), class: 'form-control'  %>
    </div>

    <div>
      <%= f.hidden_field :invoice_number, value: (current_user.invoices.any? ? current_user.invoices.last.invoice_number + 1 : 1) %>
    </div>

    <div class="actions mb-3 btn-lg btn-primary" style="cursor: pointer">
      <%= f.submit "Create Invoice", class: 'btn', style: 'color: white' %>
      <%= fa_icon 'solid plus', style: 'color: white' %>
    </div>
  </div>
  <% end %>
</div>