<h2>New Invoice Template</h2>

<%= form_for @invoice_template do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row g-3">
    <div class="field">
      <%= f.label :template_name, class: 'form-label' %>
      <%= f.text_field :template_name, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_full_name, class: 'form-label' %>
      <%= f.text_field :to_full_name, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_email, class: 'form-label' %>
      <%= f.text_field :to_email, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_phone, class: 'form-label' %>
      <%= f.text_field :to_phone, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_address, class: 'form-label' %>
      <%= f.text_field :to_address, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_city, class: 'form-label' %>
      <%= f.text_field :to_city, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_province, class: 'form-label' %>
      <%= f.text_field :to_province, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_country, class: 'form-label' %>
      <%= f.text_field :to_country, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :to_postal_code, class: 'form-label' %>
      <%= f.text_field :to_postal_code, class: 'form-control'  %>
    </div>

    <div class="field mb-3">
      <%= f.label :notes, class: 'form-label' %>
      <%= f.text_area :notes, class: 'form-control'  %>
    </div>

    <div class="actions">
      <%= f.submit "Create Template", class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
<% end %>